{% trans_default_domain 'FOSUserBundle' %}

<div>
    <div class="card">
        <form action="{{ path("fos_user_security_check") }}" method="post" class="m-auto">
            <h1 class="h3 mt-5 mb-5 font-weight-normal text-center text-dark">Se connecter</h1>
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <label for="username" class="sr-only mb-1">Nom d'utilisateur</label>
            <input type="text" class="form-control mb-3" id="username" name="_username" value="{{ last_username }}" required="required"  placeholder="Nom d'utilisateur"  autofocus/>

            <label for="password" class="sr-only mb-1">Mot de passe</label>
            <input type="password" class="form-control mb-3" id="password" name="_password" required="required" placeholder="Mot de passe"/>

            <div class="checkbox mb-3">
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> Se souvenir de moi
                </label>
            </div>
            <input type="submit" class="btn btn-md btn-primary btn-block mb-5 float-right" id="_submit" name="_submit" value="Se connecter" />
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </form>
    </div>
</div>
